
.openBtn {
  border: 1px solid var(--gray300);
  background-color: var(--llightblue);
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1rem;
  width: 15ch;
  min-height: 1.5em;
  font-size: 1rem;
  padding: 0.3em 0.5em;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

.openBtn svg {
  color: var(--gray400);
}
